<ion-view view-title="Browse" class="browse">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <div class="banner">
          <img src="img/banner.png" alt="banner"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="banner">
          <img src="img/banner.png" alt="banner"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="banner">
          <img src="img/banner.png" alt="banner"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="banner">
          <img src="img/banner.png" alt="banner"/>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="messageSeries">
      <h3>Message Series</h3>
      <ion-scroll direction="x">
        <div class="box" ui-sref="app.singleProductView">
          <div class="image">
            <img src="img/thumb.png" alt=""/>
          </div>
          <div class="foot">
            Don't box me in
          </div>
        </div>
        <div class="box" ui-sref="app.seriesProductView">
          <div class="image">
            <img src="img/thumb2.png" alt=""/>
          </div>
          <div class="foot">
            Don't box me in
          </div>
        </div>
        <div class="box" ui-sref="app.singleProductView">
          <div class="image">
            <img src="img/thumb2.png" alt=""/>
          </div>
          <div class="foot">
            Don't box me in
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="img/thumb.png" alt=""/>
          </div>
          <div class="foot">
            Don't box me in
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="img/thumb2.png" alt=""/>
          </div>
          <div class="foot">
            Don't box me in
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="img/thumb.png" alt=""/>
          </div>
          <div class="foot">
            Don't box me in
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="img/thumb2.png" alt=""/>
          </div>
          <div class="foot">
            Don't box me in
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="img/thumb.png" alt=""/>
          </div>
          <div class="foot">
            Don't box me in
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="img/thumb2.png" alt=""/>
          </div>
          <div class="foot">
            Don't box me in
          </div>
        </div>
      </ion-scroll>
    </div>
    <div class="list">
      <ion-item class="item-icon-left item-icon-right">
        <i class="icon ion-star"></i>
        Most Popular
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right">
        <i class="icon ion-star"></i>
        Top Lists
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
