<ion-view class="forgotPassword">
    <ion-content>
        <div class="logo">
            <img src="img/logo.png" alt=""/>
        </div>
        <form name="form" ng-submit="forgotPassword(form)">
            <div class="list">
                <h4 class="light">Enter email</h4>
                <label class="list-inset item item-input">
                    <input type="email" required placeholder="Email" ng-model="user.email">
                </label>
                <button class="button button-block button-positive" type="submit">Send Password</button>
                <button class="button button-clear button-block button-light forgotPassword" ui-sref="login">If remembered your password?</button>
            </div>
        </form>
    </ion-content>
</ion-view>