<ion-view class="login">
    <ion-content>
        <div class="logo">
            <img src="img/logo.png" alt=""/>
        </div>
        <form name="form" ng-submit="login(form)">
            <div class="list">
                <h4 class="light">Please log in</h4>
                <label class="list-inset item item-input">
                    <input type="text" required placeholder="Username" ng-model="user.username">
                </label>
                <label class="list-inset item item-input">
                    <input type="password" required placeholder="Password" ng-model="user.password">
                </label>
                <button class="button button-block button-positive" type="submit">Log in</button>
                <button class="button button-clear button-block button-light forgotPassword" ui-sref="forgotPassword">Forgot your password?</button>
                <button class="button button-block button-light button-outline" ui-sref="register">Register with Email</button>
                <button class="button button-block button-light button-outline">Register with Facebook</button>
            </div>
        </form>
    </ion-content>
</ion-view>