<ion-view class="minister">
    <ion-nav-title ng-bind-html="minister.title"></ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack($event)"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-more" ng-click="showActionSheet()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="image-header">
            <div class="blur-image profile" ng-style="{'background-image': 'url('+minister.thumbnail_images['featured-image'].url+')'}"></div>
            <div class="header-content">
                <img class="border" ng-src="{{minister.thumbnail_images['featured-image'].url}}" alt=""/>

                <div class="title" ng-bind-html="minister.title"></div>
                <div class="small-text" ng-bind-html="minister.custom_fields.contact.join()">Kingdom Church, Ewing NJ</div>
                <div class="box">BIO</div>
            </div>
        </div>
        <h4 class="padding-horizontal">
            Latest Release
            <span ui-sref="app.products({filter: 'newest:series,' + minister.slug})">See all <i class="icon ion-ios-arrow-right"></i></span>
        </h4>
        <div class="list ">
            <ion-spinner ng-if="!latest" icon="crescent"></ion-spinner>
            <div ng-if="latest && !latest.length" class="status"> No items found</div>
            <ion-item class="item-thumbnail-left big item-icon-right" ng-repeat="l in latest">
                <img ng-src="{{l.featured_src}}" alt=""/>

                <h2 ng-bind-html="l.title"></h2>

                <p ng-bind="toDateFormat(l.created_at)"></p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </div>
        <h4 class="padding-horizontal">
            Popular
            <span ui-sref="app.products({filter: 'popular:single,' + minister.slug})">See all <i class="icon ion-ios-arrow-right"></i></span>
        </h4>
        <div class="list border item-no-border">
            <ion-spinner ng-if="!popular" icon="crescent"></ion-spinner>
            <div ng-if="popular && !popular.length" class="status"> No items found</div>
            <ion-item class="item-icon-right" ng-repeat="p in popular">
                <span ng-bind-html="p.title"></span>
                <div ng-bind="toDateFormat(p.created_at)"></div>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </div>
        <div ng-if="series.length" class="slideSeries">
            <h4>Series</h4>
            <span ui-sref="app.products({filter: 'popular:series,' + minister.slug})">See all <i class="icon ion-ios-arrow-right"></i></span>
            <ion-scroll direction="x">
                <div class="box" ng-repeat="item in series" ui-sref="app.product({id: item.id})">
                    <div class="image">
                        <img ng-src="{{item.featured_src}}" alt=""/>
                    </div>
                    <div class="foot" ng-bind-html="item.title">
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
