<ion-view class="register">
    <ion-content>
        <div class="logo">
            <img src="img/logo.png" alt=""/>
        </div>
        <form name="form" ng-submit="register(form)">
            <div class="list">

                <div class="photo">
                    <h4 class="light text-center">Add a photo</h4>
                    <div style="text-align: center;position: relative">
                        <div class="add-circle button button-light button-outline button-icon icon ion-plus">
                            <img ng-if="user.avatar" ng-src="{{user.avatar}}" alt=""/>
                            <input id="getAvatar" accept="image/*" type="file" onchange="angular.element(this).scope().getAvatar(this.files)"/>
                        </div>
                        <hr/>
                    </div>
                </div>
                <label class="list-inset item item-input">
                    <input type="email" required placeholder="Email Address" ng-model="user.email">
                </label>
                <label class="list-inset item item-input">
                    <input type="text" required placeholder="Create a Username" ng-model="user.username">
                </label>
                <label class="list-inset item item-input">
                    <input type="password" required placeholder="Create a Password" ng-model="user.password">
                </label>
                <small class="light">
                    By tapping the Sign up button, you are indicating that you have read <span>Privacy Policy</span> and agree to the <span>Terms of Service</span>.
                </small>
                <button class="button button-block button-positive" type="submit">Sign Up</button>
                <button class="button button-clear button-block button-light" ui-sref="login">Already have an Account?</button>

            </div>
        </form>
    </ion-content>
</ion-view>