<ion-view view-title="Don't box me in" class="productView">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack($event)"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-more" ng-click="showActionSheet()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="image-header big">
      <div class="blur-image" style="background-image: url('img/thumb2.png');"></div>
      <div class="header-content">
        <img class="center" src="img/thumb2.png" alt=""/>
        <div class="subtitle">Dharius Daniels</div>
      </div>
    </div>

      <div class="text-center">
          <span class="price-tag">$5.99</span>
      </div>
      <div class="detail">
          <p>
              In this four-part sermon series, Pastor Daniels’ talks about thinking outside the box.
          </p>
      </div>
    <div class="list product-list">
      <div class="item">
          <span class="item-note price-tag">$5.99</span>
        Product 1
      </div>
      <div class="item">
          <span class="item-note price-tag">$5.99</span>
        Product 2
      </div>
      <div class="item">
          <span class="item-note price-tag">$5.99</span>
        Product 3
      </div>
    </div>
    <div class="item item-icon-right" ui-sref="app.minister">
      {{'Dharius Daniels' | uppercase}}
      <i class="icon ion-ios-arrow-right"></i>
    </div>
  </ion-content>
</ion-view>
