<ion-view view-title="Don't box me in" class="productView">
  <ion-nav-buttons side="primary">
    <button class="button button-icon button-clear ion-chevron-left" ng-click="$ionicGoBack($event)"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-more" ng-click="showActionSheet()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="image">
      <img src="img/banner.png" alt=""/>
    </div>
    <div class="list">
      <div class="item">
        Product 1
      </div>
      <div class="item">
        Product 2
      </div>
      <div class="item">
        Product 3
      </div>
    </div>
    <div class="detail"><span>$5.99</span>
      <button class="button button-block button-positive">Buy</button>
    </div>
    <div class="item item-icon-right">
      Dharius Daniels
      <i class="icon ion-chevron-right"></i>
    </div>
  </ion-content>
</ion-view>
