<ion-view view-title="Don't box me in" class="productView">
  <ion-nav-buttons side="primary">
    <button class="button button-icon button-clear ion-chevron-left" ng-click="$ionicGoBack($event)"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-more" ng-click="showActionSheet()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="image">
      <img src="img/banner.png" alt=""/>
    </div>
    <div class="detail">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <span>$5.99</span>
      <button class="button button-block button-positive">Buy</button>
    </div>
    <div class="item item-icon-right">
      Dharius Daniels
      <i class="icon ion-chevron-right"></i>
    </div>
  </ion-content>
</ion-view>
