.browse{
  .slider{
    height: 200px;
    .banner{
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      img{
        width: 100%;
        height: 180px;
      }
    }
    .slider-pager{
      bottom: 0;
      .slider-pager-page{
        margin: 0 2px;
        color: #ffffff;
        width: 12px;
      }
    }
  }
  .item{
    &.item-icon-left{
      .icon:first-child{
        font-size: 24px;
      }
    }
  }
}