.menu{
  background-color: transparent;
  .list{
    .item{
      color: #acabb0;
      border: none;
      background-color: transparent;
      .item-content{
        background-color: transparent;
      }
    }
  }
}
[name="menuContent"]{
  .pane{
    background-color: #010008;
  }
}
.bar.bar-stable{
  background-color: #010008;
  border: none;
  color: #ffffff;
}
.bar.bar-stable .title, .bar-stable .button.button-clear{
  color: #ffffff;
}
.bar.bar-stable .title{
  text-transform: uppercase;
}
/*sub-header*/
.bar.bar-stable.bar-subheader{
  border-top: 1px solid #5f5f5f!important;
  height: 54px;
  .button-bar{
    .button{
      &.active{
        border-bottom: 5px solid #4886bf;
        opacity: 1;
        border-radius: 0;
      }
    }
  }
}
.has-subheader{
  top: 98px;
}