.menu{
  background-color: transparent;
  .list{
    .item{
      color: #acabb0;
      border: none;
      background-color: transparent;
      .item-content{
        background-color: transparent;
      }
    }
  }
}
[name="menuContent"]{
  .pane{
    background-color: #010008;
  }
}
.bar.bar-stable{
  background-color: #010008;
  border: none;
  color: #ffffff;
}
.bar.bar-stable .title, .bar-stable .button.button-clear{
  color: #ffffff;
}
.bar.bar-stable .title{
  text-transform: uppercase;
}