.minister{
  h4{
    font-size: 14px;
    text-transform: uppercase;
  }

  .list{
    margin-top: 10px;
    .item{
      border-color: #1b1a22;
      background-color: transparent;
      color: #edecf1;
      &.item-thumbnail-left{
        min-height: 80px;
        img{
          top: 5px;
          max-height: 70px;
          max-width: 70px;
        }
        h2,p{
          margin-left: -10px;
        }
        h2{
          font-size: 20px;
        }
        p{
          margin-top: 5px;
          font-size: 16px;
        }
      }
    }
  }
}