<ion-view view-title="Browse" class="browse">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-slide-box show-pager="true">
      <ion-slide ng-repeat="item in sliderItems" ui-sref="app.product({id: item.id})">
        <div class="banner">
          <img ng-src="{{item.featured_src}}" alt="banner"/>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div ng-if="series.length" class="slideSeries">
      <h3>Message Series</h3>
      <span ui-sref="app.products({filter: 'series'})">See all <i class="icon ion-ios-arrow-right"></i></span>
      <ion-scroll ng-if="series.length" direction="x">
        <div class="box" ng-repeat="item in series" ui-sref="app.product({id: item.id})">
          <div class="image">
            <img ng-src="{{item.featured_src}}" alt=""/>
          </div>
          <div class="foot" ng-bind-html="item.title">
          </div>
        </div>
      </ion-scroll>
    </div>
    <div class="list">
      <ion-item class="item-icon-left item-icon-right" ui-sref="app.products({filter: 'popular:'})">
        <i class="icon ion-star"></i>
        Most Popular
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" ui-sref="app.products({filter: 'top:'})">
        <i class="icon ion-star"></i>
        Top Lists
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
