<ion-view title="{{titlePrefix}} Products">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack($event)"></button>
    </ion-nav-buttons>
  <ion-content class="has-header">
   <div class="list">
     <ion-item ng-repeat="p in products" class="item-thumbnail-left item-icon-right" ui-sref="app.product({id: p.id})">
         <img ng-src="{{p.featured_src}}" alt=""/>
         <h2 ng-bind-html="p.title"></h2>
         <p>{{toDateFormat(p.created_at)}}</p>
         <i class="icon ion-ios-arrow-right"></i>
     </ion-item>
     <p ng-if="msg" class="text-center text-mute">{{msg}}</p>
   </div>
   <ion-infinite-scroll ng-if="canLoadMore()" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
   </ion-content>
</ion-view>
