<ion-view view-title="{{product.title}}" class="productView">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack($event)"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-more" ng-click="showActionSheet()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="image-header big">
      <div class="blur-image" ng-style="{'background-image': 'url('+product.featured_src+')'}"></div>
      <div class="header-content">
        <img class="center" ng-src="{{product.featured_src}}" alt=""/>
        <div class="subtitle" ng-bind-html="product.title"></div>
      </div>
    </div>
      <div class="text-center">
          <span class="price-tag">{{product.price | currency}}</span>
      </div>
    <div class="detail">
      <p ng-if="product.description" ng-bind-html="product.description"></p>
    </div>
    <div ng-if="product.tags[0]" class="item item-icon-right" ui-sref="app.minister({name: product.tags[0]})">
      {{product.tags[0]}}
      <i class="icon ion-ios-arrow-right"></i>
    </div>
  </ion-content>
</ion-view>
