<ion-view view-title="{{title}}" class="productView">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack($event)"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-more" ng-click="showActionSheet()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="image-header big">
      <div class="blur-image" ng-style="{'background-image': 'url('+product.featured_src+')'}"></div>
      <div class="header-content">
        <img class="center" ng-src="{{product.featured_src}}" alt=""/>
        <div class="subtitle">{{product.title}}</div>
      </div>
    </div>
    <div ng-if="product.downloads.length" class="list">
      <div class="item" ng-repeat="item in product.downloads">
          {{item.name}}
      </div>
    </div>
    <div class="detail">
      <p ng-if="product.description" ng-bind-html="product.description"></p>
      <span>{{product.price | currency}}</span>
      <button class="button button-block button-positive">Buy</button>
    </div>
    <div ng-if="product.categories[0]" class="item item-icon-right" ui-sref="app.minister">
      {{product.categories[0]}}
      <i class="icon ion-ios-arrow-right"></i>
    </div>
  </ion-content>
</ion-view>
