<ion-view view-title="Don't box me in" class="productView">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack($event)"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-more" ng-click="showActionSheet()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="image-header big">
      <div class="blur-image" style="background-image: url('img/thumb2.png');"></div>
      <div class="header-content">
        <img class="center" src="img/thumb2.png" alt=""/>
        <div class="subtitle">Dharius Daniels</div>
      </div>
    </div>
    <div class="list">
      <div class="item">
        Product 1
      </div>
      <div class="item">
        Product 2
      </div>
      <div class="item">
        Product 3
      </div>
    </div>
    <div class="detail"><span>$5.99</span>
      <button class="button button-block button-positive">Buy</button>
    </div>
    <div class="item item-icon-right" ui-sref="app.minister">
      Dharius Daniels
      <i class="icon ion-ios-arrow-right"></i>
    </div>
  </ion-content>
</ion-view>
