<ion-view view-title="Don't box me in" class="productView">
  <ion-nav-buttons side="primary">
    <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack($event)"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-more" ng-click="showActionSheet()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="image-header big">
      <div class="blur-image" style="background-image: url('img/thumb.png');"></div>
      <div class="header-content">
        <img class="center" src="img/thumb.png" alt=""/>
        <div class="subtitle">Dharius Daniels</div>
      </div>
    </div>
    <div class="detail">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <span>$5.99</span>
      <button class="button button-block button-positive">Buy</button>
    </div>
    <div class="item item-icon-right">
      Dharius Daniels
      <i class="icon ion-ios-arrow-right"></i>
    </div>
  </ion-content>
</ion-view>
